<h5>



    enter the code send to the email   
</h5><br>
<form method="post" action="/users/passwordchange">
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" placeholder="username" name="username"><br>
    </div>

   <div class="form-group">
    <label> verification code</label>
    <input type="text" class="form-control" placeholder="verification code" name="code"><br>
  </div>
  <div class="form-group">
    <label> Password</label>
    <input type="text" class="form-control" placeholder="password" name="password"><br>
  </div>
  <div class="form-group">
    <label> Conform Password</label>
    <input type="text" class="form-control" placeholder="conform password" name="conformpassword"><br>
  </div>

   
  <button type="submit" class="btn btn-default">Submit</button>
</form>

