<h2 class="page-header">Dashboard</h2>
<p>Welcome to {{{ title1 }}}</p> 
<p>
    your email id is {{{ title2 }}}
</p>
<br>
<br>
<div>
    <h4>upload profile image</h4>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="upload"><br>

        <input type="submit" value="update">
    </form>
</div>